@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

$primary: #42b983;
$blue: #2c3e50;

.is-blue {
  background-color: $blue;
  color: white;  
}

.home-container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.todo-container {
  margin: 0 auto;
}

.grab-icon {
  margin-top: 13px;
}

.checkbox-custom {
  margin-top: 15px;
}

.input-width {
  width: 330px;
  margin-right: 10px;
}

.moveable {
  cursor: move;
}
